<h1>Blogs (<%=@total_count%>)</h1>
<div class="well">
  <%= form_for blogs_path, html: {method: :get, class: 'form-inline', style: 'display: inline-block;'} do |f| %>
    <div class="form-group">
      <%= text_field_tag "search", params[:search], class: "form-control" %>
    </div>
    <%= f.submit("Search", class: "btn btn-primary") %>
  <% end %>
  <%= link_to "New blog", new_blog_path, class: "btn btn-primary pull-right" %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="row">
	<center>
		<%#= paginate @blogs if @blogs.present? %>
	</center>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @blogs.size == 0 %>
      <tr>
        <td colspan="6">No blogs found.</td>
      </tr>
    <% else %>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.content %></td>
          <td>
            <%= link_to "Edit", edit_blog_path(blog), class: "btn btn-default" %>
          </td>
          <td>
            <%= button_to "Delete", blog, method: :delete, data: { confirm: "Are you sure you wish to delete #{blog.title}?" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="row">
	<center>
		<%#= paginate @blogs if @blogs.present? %>
	</center>
</div>
